In [1]:
import pandas as pd

In [2]:
data = pd.read_excel("./others/database.xlsx")

In [3]:
data

,ROLL_NO,STUDENT_NAME,MONTH,PHY,PHY_MM,CHEM,CHEM_MM,MATH_BIO,MATH_BIO_MM,ENG,ENG_MM,URDU,URDU_MM,ISL,ISL_MM,OBT_TOTAL,MAX_MARKS,PERCENTAGE,REMARKS,GRADE
0,T9-01,Rooh Allah,202207,18.0,30,10.5,30,0.0,30,21.0,30,14.0,30,23.0,30,86.5,180,48,Retry,Retry
1,T9-02,S. Ali Naqi Jafri,202207,24.0,30,15.0,30,25.5,30,18.5,30,24.0,30,22.0,30,129.0,180,72,Pass,A
2,T9-03,S. Haider Abbas Zaidi,202207,21.0,30,9.5,30,22.5,30,24.0,30,12.0,30,24.5,30,113.5,180,63,Retry,Retry
3,T9-04,S. Hassan Abbas Rizvi,202207,17.0,30,16.0,30,24.5,30,21.0,30,20.0,30,14.5,30,113.0,180,63,Retry,Retry
4,T9-05,S. M. Ali Osaja Rizvi,202207,0.0,30,13.5,30,28.0,30,15.5,30,23.0,30,19.5,30,99.5,180,55,Retry,Retry
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,T9-16,Saim Hussain,202211,30.5,50,35.0,50,28.5,50,34.5,50,30.0,50,22.5,30,181.0,280,65,Pass,B
96,T9-18,S. Ayaan Ali,202211,42.0,50,42.0,50,45.0,50,40.5,50,37.0,50,27.0,30,233.5,280,83,Pass,A-1
97,T9-20,S. Dur e Aden Hasan Rizvi,202211,40.5,50,38.5,50,44.5,50,39.0,50,28.0,50,20.5,30,211.0,280,75,Pass,A
98,T9-21,S. Ghazi Abbas Askari,202211,39.0,50,38.0,50,35.0,50,28.5,50,34.5,50,19.5,30,194.5,280,69,Pass,B
99,T9-22,Sajjad,202211,40.0,50,0.0,50,48.0,50,43.0,50,36.5,50,28.5,30,196.0,280,70,Pass,A-1

In [4]:
roll_nos = data["ROLL_NO"].unique()

In [5]:
from database_func import insert_student_data

In [7]:
for roll_no in roll_nos:
#     print(roll_no,data[data["ROLL_NO"]==roll_no]["STUDENT_NAME"].iloc[0])
    insert_student_data(roll_no,data[data["ROLL_NO"]==roll_no]["STUDENT_NAME"].iloc[0])